<h1>Login</h1>

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="loginsubmitBtn">Submit</button>
  <p>Click <a href="/signup">here</a> to sign up instead</p>
</form>
