<h1>Sign up</h1>

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='email' type="text" name="email" placeholder="Email"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="submitBtn">Submit</button>
  <p>Click <a href="/login">here</a> to log in instead</p>
</form>


